@model IEnumerable<SneakerApp.Models.CartItem>

<h2>Coș de cumpărături</h2>

@if (!Model.Any())
{
    <p>Coșul este gol!</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Produs</th>
                <th>Categorie</th>
                <th>Cantitate</th>
                <th>Preț</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Product.Category?.CategoryName</td>
                    <td>@item.Quantity</td>
                    <td>$@(item.Product.Price * item.Quantity)</td>
                    <td>
                        <form method="post" asp-action="RemoveFromCart" asp-controller="Carts">
                            <input type="hidden" name="cartItemId" value="@item.Id" />
                            <button type="submit" class="btn btn-danger"><strong>X</strong></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="d-flex flex-column align-items-center justify-content-center mt-4">
        <form asp-action="PlaceOrder" method="post" class="mb-3">
            <button type="submit" class="btn btn-success">Plasează comanda</button>
        </form>
        <h3>Preț total: @ViewBag.TotalCartValue.ToString("C")</h3>
    </div>
}