@{
    ViewBag.Title = "CATEGORII";
}

<h2>@ViewBag.Title</h2>
<br />

@if (TempData.ContainsKey("message"))
{
    <h1>@ViewBag.message</h1>
}

@foreach (SneakerApp.Models.Category category in ViewBag.Categories)
{
    <div class="form-group">
        <div><i class="bi bi-globe"></i> @category.CategoryName</div>
    </div>
    <br />
    <a class="btn alert-success" asp-controller="Categories" asp-action="Show" asp-route-id="@category.Id">Afisare</a>
    <a class="btn alert-success" asp-controller="Categories" asp-action="Edit" asp-route-id="@category.Id">Editare</a>
    <br />
    <br />

}
<br />
<a class="btn btn-success" asp-controller="Categories" asp-action="New">Categorie Noua</a>
<br />

