@model SneakerApp.Models.Product


@* Afisarea unui PRODUS impreuna cu categoria din care face *@

<br />

<div class="card">

    <partial name="ProductInfo" model="Model"></partial>

    @if(ViewBag.IsAdmin == true || (ViewBag.CurrentUser == Model.UserId && ViewBag.Buttons == true))
    {
        <div class="d-flex flex-row justify-content-between">

            <a class="btn btn-success" asp-controller="Products" asp-action="Edit" asp-route-id="@Model.Id">Editeaza produs</a>

            <form method="post" asp-controller="Products" asp-action="Delete" asp-route-id="@Model.Id">

                <button class="btn btn-danger" type="submit">Sterge produs</button>

            </form>

        </div>
    }

</div>

<br />
<br />

@if (!(User.IsInRole("Admin") || User.IsInRole("Editor"))){
<form method="post" asp-controller="Carts" asp-action="AddToCart">
    <input type="hidden" name="productId" value="@Model.Id" />
    <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" min="1" max="@Model.Stock" value="1" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Add to Cart</button>
</form>
}


@*Afisare reviewuri impreuna cu butoanele de editare si stergere *@

@foreach (var rev in Model.Reviews)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div>
                    <!-- Star Rating for Reviews -->
                    <div class="star-rating">
                        @for (int i = 1; i <= 5; i++)
                        {
                            <i class="bi bi-star-fill"
                               style="color: @(i <= rev.Score ? "#ffd700" : "#e4e5e9");">
                            </i>
                        }
                    </div>
                    <p>@rev.Content</p>
                    <small>@rev.Date</small>
                    <strong><i class="bi bi-person">@rev.User.UserName</i></strong>
                </div>
                <br>

                @if (rev.UserId == ViewBag.CurrentUser || ViewBag.IsAdmin == true)
                {
                    <div class="d-flex">
                        <div>
                            <a class="btn btn-outline-primary" asp-controller="Reviews" asp-action="Edit" asp-route-id="@rev.ReviewId">
                                <i class="bi bi-pencil-square"></i>  Editeaza
                            </a>
                        </div>
                        <div>
                            <form method="post" asp-controller="Reviews" asp-action="Delete" asp-route-id="@rev.ReviewId">
                                <button class="btn btn-outline-danger" type="submit">
                                    <i class="bi bi-trash"></i> Sterge
                                </button>
                            </form>
                        </div>
                    </div>
                }
                <br />
            </div>

            <div class="col-md-2"></div>
        </div>
    </div>
}



 @* Afisarea formularului in care se poate adauga un comentariu  *@

 <div class="container"> 

     <div class="row"> 

         <div class="col-md-2"></div> 

         <div class="col-md-8"> 

             <div class="card"> 

                 <form method="post" asp-controller="Products" asp-action="Show"> 

                     <div class="card-body"> 

                         <input type="hidden" name="ProductId" value="@Model.Id" /> 

                         <label>Continut review: </label> 
                         <br /> 

                         <textarea class="form-control" name="Content"></textarea> 

                         <span asp-validation-for="Description" class="text-danger"></span> 
                         <br /><br />

                        <label>Rating (optional): </label>
                        <br />
                        <select name="Score">
                            <option value="-1" selected>Alege un rating</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>

                        <button class="btn btn-success" type="submit">Adauga review</button> 


                     </div> 

                 </form> 



             </div> 

         </div> 

         <div class="col-md-2"></div> 

     </div> 

 </div> 